
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="shortcut icon" href="/favicon-32x32.png">

		<title>{{ page.title }}</title>
	</head>
	<body>
		{% include nav.html %}
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:{{ site.email }}">email</a></li>
				<li><a href="https://github.com/{{ site.github }}">github.com/{{ site.github }}</a></li>=
			</ul>
		</footer>
	</body>
</html>
